<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.memo.post.dao.PostMapper">

	<select resultType="map" id="selectPostList">select * from `post` </select>

	<select resultType="com.memo.post.domain.Post"
		id="selectPostListByUserId" parameterType="int">SELECT
		`id`,`userId`,`subject`,`content`,`imagePath`,`createdAt`,`updatedAt`FROM
		`post`WHERE `userId` = #{userId} order by id desc
	</select>

	<insert id="insertPost" parameterType="map">
		insert into `post`
		(`userId`,`subject`,`content`,`imagePath`,`createdAt`,`updatedAt`)
		values
		(#{userId},#{subject},#{content},#{file},NOW(),NOW())

	</insert>

	<select id="selectPostByPostIdAndUserId" parameterType="map"
		resultType="com.memo.post.domain.Post">

		select `id`,`userId`,`subject`,`content`,`imagePath`,`createdAt`,`updatedAt`
		from `post` where `userId` = #{userId} and `id` = #{postId}
	</select>
    
    <update id = "updatePostByPostIdAndUserId" parameterType="map">
    
       UPDATE  `post`  
          SET  `subject` = #{subject}
			  , `content` = #{content}
			   <!-- imagePath가 있을때에만 update -->
			   <if test="imagePath != null" >
			  , `imagePath` = #{imagePath}
			   </if>			   
			  , `updatedAt` = NOW()
		WHERE id = #{postId} AND userId = #{userId}
    </update>
</mapper>
