@charset "UTF-8";
wrap {
    width:1000px;
    margin:auto;
}


header {
    height:100px;
    background-color: #188CC2;
}
.goods-box {
    border: 2px solid #188CC2;
    padding: 40px 30px;
}


footer {
    height:80px;
}